<p-growl [(value)]="msgs" [life]="3000" [sticky]="false"></p-growl>

<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">View Tasks</h3>
            </div>
            <div class="panel-body">
                <div class="row">            
                    <div class="form-group col-md-6">
                        <label class="control-label col-sm-2" for="project">Project:</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="project" placeholder="Select the Project" readonly value="{{selectedProject}}">
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#searchProjectsModal">Search</button>
                        </div>
                    </div>            
                </div>            
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <p-dataTable [value]="tasksList">
                            <p-column field="Task_ID" header="Task ID" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                            <p-column field="TaskName" header="Task Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                            <p-column field="Parent_Name" header="Parent Task" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                          
                            <p-column field="Priority" header="Priority" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                            <p-column field="Start_Date" header="Start Date" sortable="true" [filter]="true" filterMatchMode="contains">
                                <ng-template let-col let-project="rowData" let-ri="rowIndex" pTemplate="body">
                                    <span>{{project[col.field]|date:'dd/MM/yyyy'}}</span>
                                </ng-template>
                            </p-column>
                            <p-column field="End_Date" header="End Date" sortable="true" [filter]="true" filterMatchMode="contains"> <ng-template let-col let-project="rowData" let-ri="rowIndex" pTemplate="body">
                                <span>{{project[col.field]|date:'dd/MM/yyyy'}}</span>
                            </ng-template></p-column>
                            <p-column field="Status" header="Status" sortable="true" [filter]="true" filterMatchMode="contains">
                                    <ng-template let-col let-project="rowData" let-ri="rowIndex" pTemplate="body">
                                            <span>{{project[col.field]==true?'Active':'Ended'}}</span>
                                        </ng-template>
                            </p-column>
                            
                            <p-column field="Status">
                                <ng-template let-col let-project="rowData" pTemplate="body" >
                                    
                                    <div align="center" *ngIf="project[col.field]">
                                        <button type="button" class="btn btn-primary btn-sm" (click)="editTask(project)">Edit</button>
                                        <button type="button" class="btn btn-danger btn-sm" (click)="endTask(project)">End Task</button>
                                    </div>
                                </ng-template>
                            </p-column>
                        </p-dataTable>            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Search Projects -->
<div id="searchProjectsModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Search Projects</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p-dataTable [value]="projectsList">
                            <p-column field="Project_ID" header="Project ID" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                            <p-column field="ProjectName" header="Project Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                            <p-column field="Start_Date" header="Start Date" sortable="true" [filter]="true" filterMatchMode="contains"> <ng-template let-col let-project="rowData" let-ri="rowIndex" pTemplate="body">
                                <span>{{project[col.field]|date:'dd/MM/yyyy'}}</span>
                            </ng-template></p-column>
                            <p-column field="End_Date" header="End Date" sortable="true" [filter]="true" filterMatchMode="contains"> <ng-template let-col let-project="rowData" let-ri="rowIndex" pTemplate="body">
                                <span>{{project[col.field]|date:'dd/MM/yyyy'}}</span>
                            </ng-template></p-column>
                            <p-column field="Priority" header="Priority" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                            <p-column field="Manager_Name" header="Manager" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>                            
                            <p-column>
                                <ng-template let-project="rowData" pTemplate="body">
                                    <div align="center">
                                        <button type="button" class="btn btn-success btn-sm" id="assignProject" (click)="assignProject(project.ProjectName, project.Project_ID)" data-dismiss="modal">Select</button>
                                    </div>
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"  ></p-confirmDialog>




