<p-growl [(value)]="msgs" [life]="3000" [sticky]="false"></p-growl>
<div class="container">
    <div class="row">
        <form #f="ngForm" novalidate (ngSubmit)="onSave(f.value, f.valid)">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">New User</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="form-group col-md-6">
                            <label class="control-label col-sm-4" for="firstName">First Name:</label>
                            <div class="col-sm-8">
                                <input class="form-control first_Name" id="firstName" [(ngModel)]="currentUser.First_Name" name="firstName" #firstName="ngModel" required
                                    placeholder="First Name">
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div *ngIf="firstName.errors?.required && firstName.touched" class="error col-md-5">
                            First Name is required
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="form-group col-md-6">
                            <label class="control-label col-sm-4" for="lastName">Last Name:</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="lastName" [(ngModel)]="currentUser.Last_Name" placeholder="Last Name" name="lastName"
                                    #lastName="ngModel" required>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                            <div class="col-md-5"></div>
                            <div *ngIf="lastName.errors?.required && lastName.touched" class="error col-md-5">
                                Last Name is required
                            </div>    
                        </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="form-group col-md-6">
                            <label class="control-label col-sm-4" for="empId">Employee ID:</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="empId" [(ngModel)]="currentUser.Employee_ID" name="empId" placeholder="Employee Id"
                                    #empId="ngModel" required>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                            <div class="col-md-5"></div>
                            <div *ngIf="empId.errors?.required && empId.touched" class="error col-md-5">
                                    Employee ID is required
                            </div>    
                        </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="form-group col-md-6">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <button type="submit" class="btn btn-md btn-primary"  [disabled]="f.invalid">{{saveButtonString}}</button>
                                <button type="button" class="btn btn-md" (click)="f.reset();onReset();">Reset</button>
                            </div>
                        </div>
                        <div class="col-xs-3"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Search/Edit Users</h3>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <p-dataTable [value]="userList">
                            <p-column field="First_Name" header="First Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                            <p-column field="Last_Name" header="Last Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                            <p-column field="Employee_ID" header="Employee ID" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                            <p-column header="Actions" >
                                <ng-template let-user="rowData" pTemplate="body">
                                    <button type="button" class="btn btn-primary" (click)="onEditClick(user)" aria-label="Left Align">
                                        <span class="fa fa-edit fa-lg" aria-hidden="true" ></span>
                                    </button>
                                    <button type="button" class="btn btn-danger" (click)="confirmDelete(user)" aria-label="Left Align">
                                        <span class="fa fa-trash-o fa-lg" aria-hidden="true"></span>
                                    </button>
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
    <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd ></p-confirmDialog>
